/.vs/*

/.vs

/.idea/misc.xml

/.venv

/.venv/*

/.vscode

/.vscode/*

/.env

.env
*.env.prod
*.env.dev

settings.json

.vscode/settings.json

*.pyc
*.db
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/rpgbot-python.iml
/.idea/vcs.xml
/.idea/material_theme_project_new.xml
