PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE characters (
	id INTEGER NOT NULL, 
	"playerName" VARCHAR NOT NULL, 
	"charName" VARCHAR NOT NULL, 
	strength INTEGER NOT NULL, 
	dexterity INTEGER NOT NULL, 
	endurance INTEGER NOT NULL, 
	intelligence INTEGER NOT NULL, 
	faith INTEGER NOT NULL, 
	luck INTEGER NOT NULL, 
	inventory JSON NOT NULL, 
	PRIMARY KEY (id)
);
CREATE TABLE ability (
	id INTEGER NOT NULL, 
	name VARCHAR NOT NULL, 
	description VARCHAR NOT NULL, 
	type VARCHAR NOT NULL, 
	cost INTEGER NOT NULL, 
	"baseVariance" INTEGER NOT NULL, 
	"baseEffects" JSON NOT NULL, 
	PRIMARY KEY (id)
);
INSERT INTO ability VALUES(1,'Fireball','Call forth a burst of flame and hurl it at your foes','Spell',5,5,'{"Boost":[],"Debuff":[],"Heal":0,"Inflict":15,"SelfHeal":0,"SelfInflict":0,"Type":"Fire"}');
INSERT INTO ability VALUES(2,'Heal','Call upon the gods to mend wounds','Spell',5,5,'{"Boost":[],"Debuff":[],"Heal":15,"Inflict":0,"SelfHeal":0,"SelfInflict":0,"Type":"Holy"}');
INSERT INTO ability VALUES(3,'Doom','Pay a blood tithe to the gods in exchange for dealing immense damage','Spell',10,5,'{"Boost":[],"Debuff":[],"Heal":0,"Inflict":20,"SelfHeal":0,"SelfInflict":6,"Type":"Holy"}');
CREATE TABLE IF NOT EXISTS "specialLoot" (
	id INTEGER NOT NULL, 
	name VARCHAR NOT NULL, 
	description VARCHAR NOT NULL, 
	type VARCHAR NOT NULL, 
	"baseVariance" INTEGER NOT NULL, 
	"baseEffects" JSON NOT NULL, 
	PRIMARY KEY (id)
);
INSERT INTO specialLoot VALUES(1,'Sword of Flame','A sword enchanted to emit a magical flame','Hand',5,'{"AttackRating":20,"CritChance":0,"DamageReduction":0,"Evasion":0,"Heal":0,"MaxAP":0,"MaxHP":0,"SpellDamage":0,"Type":"Fire","Use":[]}');
INSERT INTO specialLoot VALUES(2,'Vampiric Dagger','A dagger that drains the life essense of its victims','Hand',5,'{"AttackRating":10,"CritChance":10,"DamageReduction":0,"Evasion":10,"Heal":6,"MaxAP":0,"MaxHP":0,"SpellDamage":0,"Type":"Arcane","Use":[]}');
INSERT INTO specialLoot VALUES(3,'Armor of the Magi','Heavy plate that boosts arcane power','Body',10,'{"AttackRating":0,"CritChance":0,"DamageReduction":11,"Evasion":-5,"Heal":0,"MaxAP":10,"MaxHP":0,"SpellDamage":11,"Type":"Magic","Use":[]}');
CREATE TABLE IF NOT EXISTS "raidLoot" (
	id INTEGER NOT NULL, 
	name VARCHAR NOT NULL, 
	description VARCHAR NOT NULL, 
	type VARCHAR NOT NULL, 
	"baseVariance" INTEGER NOT NULL, 
	"baseEffects" JSON NOT NULL, 
	PRIMARY KEY (id)
);
INSERT INTO raidLoot VALUES(1,'Dragon Crusher','A legendary Greatsword that can tear through the thick hide of dragons like butter','Hand',10,'{"AttackRating":30,"CritChance":15,"DamageReduction":0,"Evasion":0,"Heal":0,"MaxAP":0,"MaxHP":0,"SpellDamage":0,"Type":"Thunder","Use":[]}');
INSERT INTO raidLoot VALUES(2,'Phylactary','The source of a lich''s immortaility','Accessory',30,'{"AttackRating":0,"CritChance":0,"DamageReduction":0,"Evasion":0,"Heal":0,"MaxAP":16,"MaxHP":31,"SpellDamage":0,"Type":"Accessory","Use":[]}');
INSERT INTO raidLoot VALUES(3,'Stone Armor','Built of the wall. Become inpenetrable.','Body',30,'{"AttackRating":0,"CritChance":0,"DamageReduction":40,"Evasion":-16,"Heal":0,"MaxAP":0,"MaxHP":31,"SpellDamage":0,"Type":"Heavy","Use":[]}');
CREATE TABLE IF NOT EXISTS "monster" (
	"id"	INTEGER NOT NULL,
	"type"	VARCHAR NOT NULL,
	"name"	VARCHAR NOT NULL,
	"weakness"	JSON NOT NULL,
	"resistance"	JSON NOT NULL,
	"baseVariance"	INTEGER NOT NULL,
	"hp"	INTEGER NOT NULL,
	"attackRating"	INTEGER NOT NULL,
	"damageReduction"	INTEGER NOT NULL,
	"evasion"	INTEGER NOT NULL,
	"critChance"	INTEGER NOT NULL,
	"ai"	JSON NOT NULL,
	"dropTable"	JSON NOT NULL,
	"floor"	INTEGER,
	PRIMARY KEY("id")
);
INSERT INTO monster VALUES(1,'mob','Goblin','["Fire"]','[]',5,15,10,10,15,15,'{"Actions":[{"Action":["Attack Char Bludgeon"],"HPThreshold":100},{"Action":["Flee"],"HPThreshold":10}]}','{"Gold":50,"Loot":["Dagger","Leather Armor","Leather Helmet","Leather Boots"],"RaidLoot":[],"SpecialLoot":["Long Bow","Potion of Greater Healing"],"XP":50}',1);
INSERT INTO monster VALUES(2,'mob','Skeleton','["Holy","Bludgeon"]','["Slash", "Pierce"]',5,20,10,15,5,10,'{"Actions":[{"Action":["Attack Char Slash"],"HPThreshold":100}]}','{"Gold":75,"Loot":["Sword","Potion of Healing","Axe","Steel Breastplate","Steel Greaves","Steel Helm"],"RaidLoot":[],"SpecialLoot":["Sword and Buckler","Long Bow"],"XP":75}',1);
INSERT INTO monster VALUES(3,'mob','Gnoblin Shaman','["Fire"]','[]',5,15,15,10,15,15,'{"Actions":[{"Action":["Attack Char Arcane"],"HPThreshold":100},{"Action":["Attack All Arcane"],"HPThreshold":50},{"Action":["Flee"],"HPThreshold":10}]}','{"Gold":50,"Loot":["Magic Wand","Potion of Mana","Wizard Hat","Wizard Robes","Wizard Boots"],"RaidLoot":[],"SpecialLoot":["Combat Staff"],"XP":50}',1);
CREATE TABLE IF NOT EXISTS "loot" (
	"id"	INTEGER NOT NULL,
	"name"	VARCHAR NOT NULL,
	"description"	VARCHAR NOT NULL,
	"type"	VARCHAR NOT NULL,
	"baseVariance"	INTEGER NOT NULL,
	"baseEffects"	JSON NOT NULL,
	"rarity"	TEXT,
	PRIMARY KEY("id")
);
INSERT INTO loot VALUES(1,'Dagger','A small length of blade affixed to a one handed handle','Hand',5,'{"AttackRating":8,"CritChance":10,"DamageReduction":0,"Evasion":6,"Heal":0,"MaxAP":0,"MaxHP":0,"SpellDamage":0,"Type":"Pierce","Use":[]}','Common');
INSERT INTO loot VALUES(2,'Sword','A length of sharpened blade','Hand',5,'{"AttackRating":15,"CritChance":0,"DamageReduction":0,"Evasion":0,"Heal":0,"MaxAP":0,"MaxHP":0,"SpellDamage":0,"Type":"Slash","Use":[]}','Common');
INSERT INTO loot VALUES(3,'Leather Helmet','A helmet made of hardened leather','Head',3,unistr('{\u000d\u000a\u0009"Type": "Light",\u000d\u000a\u0009"AttackRating": 0,\u000d\u000a\u0009"DamageReduction": 0,\u000d\u000a\u0009"Evasion": 0,\u000d\u000a\u0009"Heal": 0,\u000d\u000a\u0009"CritChance": 0,\u000d\u000a\u0009"SpellDamage": 0,\u000d\u000a\u0009"MaxHP" : 5,\u000d\u000a\u0009"MaxAP": 0,\u000d\u000a\u0009"Use": []\u000d\u000a}\u000d\u000a'),'Common');
COMMIT;
